<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAVpLoDuPtjdqMmzfgYQwmf-_cSezjQx5s</string>
	<key>GCM_SENDER_ID</key>
	<string>385915653881</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.produitsapp</string>
	<key>PROJECT_ID</key>
	<string>atelier-4-h-chalabi-iir5g3</string>
	<key>STORAGE_BUCKET</key>
	<string>atelier-4-h-chalabi-iir5g3.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:385915653881:ios:2be7659c5b2c48a241dc28</string>
</dict>
</plist>